<div class="container">
    @if(!startedGame) {
    <div class="message-wrapper">
        Try to hit all the circles as fast as possible.
        <button (click)="startGame()">Go</button>
    </div>
    }@else {
    @for (circle of circles; track $index) {
    <app-circle [circleData]="circle" (onCircleClick)="circleClicked($event)"></app-circle>
    }
    }
    @if(hasFinishedBigCircles && !isPlaying && !hasFinishedSmallCircles) {
    <div class="message-wrapper">
        Now try to click all the circles again but this time they will be smaller!
        <button (click)="playSmallCircles()">Go</button>
    </div>
    }
    @if(finishedGame) {
    <div class="message-wrapper">
        Big Circles average time: <div class="time">{{this.result.bigCirclesAVGTime}}ms</div>
        Small Circles average time: <div class="time">{{this.result.smallCirclesAVGTime}}ms</div>
    </div>
    }
</div>