<div class="container">
    @for (circle of circles; track $index) {
        <app-circle [circleData]="circle" (onCircleClick)="circleClicked($event)"></app-circle>
    }
    @if(hasFinishedBigCircles && !isPlaying && !hasFinishedSmallCircles) {
        <div class="result-wrapper">
            Now try to click all the circles again but this time they will be smaller!
            <button (click)="playSmallCircles()">Continue</button>
        </div>
    }
    @if(finishedGame) {
        <div class="result-wrapper">
            Big Circles average time: {{this.result.bigCirclesAVGTime}};
            Small Circles average time: {{this.result.smallCirclesAVGTime}};
        </div>
    }
</div>